#lightbox{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#ffffff;
    z-index:9999;
    display: none;
    flex-direction: row;
}

.right-arrow, .left-arrow{
    width: 65px;
    height: 65px;
    margin: 45vh auto;
    align-items: center;
    color:#901C1C !important;   
    cursor: pointer; 
}

.right-arrow {
    transform: rotate(180deg);
}

#lightbox-media img, #lightbox-media video {
    width: 40rem !important;
    height: 40rem !important;
    margin: 15vh auto;
    align-items: center;
}

.title-image-lightbox {
    margin: -7.8rem auto;
    color: #901C1C;
    font-weight: bold;
    font-size: 1.25rem;
}
.close-lightbox {
    position: absolute;
    color: #901C1C;
    width: 60px;
    height: 60px;
    display: list-item;
    top:40px;
    left: 90%;
    cursor: pointer;
   
    
}





