#lightbox{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#ffffff;
    z-index:9999;
    display: none;
    flex-direction: row;
}

.right-arrow, .left-arrow{
    width: 70px;
    height: 70px;
    margin: 45vh auto;
    align-items: center;
    color:#901C1C !important;
    
}

#lightbox-media img, #lightbox-media video {
    width: 40rem !important;
    height: 40rem !important;
    margin: 15vh auto;
    align-items: center;
}

.title-image-lightbox {
    margin: -8.5rem auto;
    color: #901C1C;
    font-weight: bold;
}
.close-lightbox {
    color: #901C1C !important;
    width: 20px;
    height: 220px;
}





