*, *::before, *::after{
  
  box-sizing:border-box;

}
#flexRow {
display:flex;
flex-direction: row;

}
.flexColumn {
display: flex;
flex-direction: column;

}
.dropdown-span {
margin: 15px 15px 15px 100px;

}



#select-first-option span::after{

  content:" ^ ";
  display:inline-block;
  vertical-align:bottom;
  position:absolute;
  transform:translate3d(0, -50%, 0) scale(1.5, 0.9);
  right:15px;
  top:57%;  
}

.select-option{
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  width: 145px;
  background:#911C1C;
  color:#ffffff;
  position: relative;
  display: block;
  justify-content: left;
  border: 0.1px solid #ffffff;
  cursor: pointer;
  height: 50px;
  border-radius: 5px; 
 
  

}

#select-block-options{

  display:none;

}

