@import url("photographer.css");
@import url("lightbox.css");
@import url("likes.css");
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    
}

body {
    font-family: "DM Sans", "sans-serif";
}
#bloc-page {
    max-width: 1600px;
    margin: auto;
}
#bloc-page-photographer {
    max-width: 1600px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column ;
    justify-content:start;
}
.closeSuccesMessage {
    height: 120px;
}


h1 {
    color: #901C1C;
    margin-right: 100px;
}
h2 {
    margin-top: 25px;

}

.logo {
    height: 50px;
    margin-left: 110px;
   max-width: 150px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 110%;
}

.photographer_section article img, photographer_header img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgb(82, 82, 82) 0px 2px 16px -6px;
}
.photographer_section article p {
    margin-top: -15px;
}
.photographer_city_country {    
    color: rgb(177, 75, 75); 
}
.photographer_description {
    font-weight: 510;
    font-size: 1.15rem;
    /* margin-top: -10px !important; */
    padding-bottom: 0.35rem;
}
.photographer_price {
    font-size: 1.05rem;
    font-weight: 510;
    color: rgb(104, 102, 102);
}
/* PHOTOGRAPHER.HTML */
/* header */
.photographer-header {
    height: 313px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;  
    margin: 50px 100px 50px 100px;
    background-color: rgba(128, 128, 128, 0.061);
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    /* box-shadow: rgb(82 82 82 / 55%) 0px 2px 16px -6px; */
    /* border: solid green 2px; */
}
.box {
    display: flex;
    flex-direction: column;    
}
.photographer-header .box h2 a {
    text-decoration: none;
    color: #901C1C
}
.photographer-header .box h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.photographer-header  img{
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgb(82, 82, 82) 0px 2px 16px -6px;
}
.photographer_city_country {
    font-size: 1.4rem;
    font-weight: 600;
}


.box-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}
.photos_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.4rem;
    font-family: Arial;
    font-weight: bold;
    margin: 0px 0px 18px;
}

/* Menu déroulant page photographer */

.menu-burger-gallery {
    margin: 0px 5px 100px 110px;
    font-family: DM sans;
    font-weight: 550;
}

select {
    height: 45px;
    background-color: #901C1C;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 9px; 
    font-size: 0.95rem;  
    letter-spacing: 1px; 
}
select:first-child active{
    display: none;
}
select:active 
select:hover >option{
    border-radius: 5px 5px 0px 0px;
    border-top: white solid 1px;
}
.item1-menu-burger :active{
    padding: 15px;
    margin: 25px;
    border: none;
    
}
.item1-menu-burger:active {
border-radius: none;
/* : white 1px solid; */
border-radius: 5px 5px 0px 0px;
}



/* gallerie photographe */
#gallery{    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:60px; 
    gap:85px; 
    /* z-index:0; */
   
}
.gallery-element{   
   background:#ffffff;
   height:350px;
   width:calc( (100% / 3) - (140 / 3));   
  
}
.article-media{ 
     width: 410px;
     display:inline-block;
     object-fit:cover;
     height: 350px; 
     border-radius: 5px;  
     box-shadow: rgb(82, 82, 82) 0px 2px 16px -6px;
}


.description-element{  
   height:20%;
   margin-top:-5px;
   padding-top:25px;
   padding-bottom:15px;
   position:relative; 
   font-size: 1rem; 
   color: #901C1C;
   line-height: 0.7px;
}

.likes-area{ 
  position:absolute;
  top:15px;
  right:0; 
  
}
#likes-area-empty {
    display:none;
    /* display: inline-block; */
    position:absolute;
    top:15px;
    right:0;
}
.likes-area svg{ 
    width:20px;
    height:20px;
    display:inline-block;
    
    vertical-align:bottom; 
}
.fa-heart{   
    color:#901C1C; 
    padding: 0px 7px 0px 7px;
}
