@import url("photographer.css");

body {
    font-family: "DM Sans", "sans-serif";
    margin: 0 auto;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}
h2 {
    margin-top: 1px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img, photographer_header img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
}
.photographer_section article p {
    margin-top: -15px;
}
.photographer_city_country {    
    color: rgb(177, 75, 75); 
}
.photographer_description {
    font-weight: bold;
    font-size: 0.75rem;
    /* margin-top: -10px !important; */
    padding-bottom: 0.35rem;
}
.photographer_price {
    font-size: 0.8rem;
    color: rgba(163, 163, 163, 0.737);
}
/* PHOTOGRAPHER.HTML */
/* header */
.photographer-header {
    width: 1240px;
    height: 313px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;  
    margin: 60px;
    background-color: rgba(128, 128, 128, 0.061);
    padding: 50px;
    border-radius: 15px;
}
.box {
    display: flex;
    flex-direction: column;    
}
.photographer-header .box h2 a {
    text-decoration: none;
    color: #901C1C
}
.photographer-header .box h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.photographer-header  img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
}
.photographer_city_country {
    font-size: 105%;
    font-weight: bold;
}
/* section book photo */
li a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container-photos {
    display: inline;
    flex-direction: row;
    margin: 60px;
    
}